<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card shadow">
          <div class="card-title">Inventory</div>
          <div class="card-body bg-light">
            200
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow">
          <div class="card-title">Sales</div>
          <div class="card-body bg-light">
            200
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow">
          <div class="card-title">Purchase</div>
          <div class="card-body bg-light">
            200
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="container">
    <div id="chart__wrapper">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

<div class="container my-5 ml-2">
  <div class="transaction__history card">
    <div class="card-title">
      Transaction History 
      <hr>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non itaque quo totam quod necessitatibus at recusandae fugiat odit eaque nulla natus qui doloremque molestiae dolor, sit consequuntur repudiandae! Ducimus, atque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum odit quos perspiciatis enim deserunt veritatis nisi illo natus, quis repellat voluptatem laborum id ullam provident quae totam exercitationem maxime ex.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed reprehenderit eos blanditiis, reiciendis dolores corrupti quod ipsam illo facilis neque aperiam sequi nam, ipsum fugit labore est asperiores veniam error.
      </div>
    </div>
  </div>
</div>
